<div class="card-product">
  <div class="img-product-x"></div>
  <div class="title-card">
    <div class="title-card-flex">
      <div class="title-product">
        <h3>NOMBRE DEL</h3>
        <h3>PRODUCTO</h3>
        <h3>O SERVICIO</h3>
      </div>
      <hr></hr>
      <h3>XX.XXX <span class="points" style="color: gray; font-size: 75%">Puntos</span></h3>
    </div>
  </div>
</div>