 <%- include('../partials/header') %>
    <main>
      <!--Hipervinculo hacia home-->
      <a class="back-to-home" href="/">
        <h3 class="product-title">
          <!--icono para volver-->
          <i class="bi bi-box-arrow-in-left"></i>Volver
        </h3>
      </a>
<!--Seccion de productos-->
      <div class="section-products">
        <!--contenedor de productos-->
        <div class="container-products">
          <h2 class="product-title">Productos en tu carrito</h2>

          <div class="flex-products">
            <!--Tarjeta de producto-->
            <div class="card-product">
              <!--Seccion para dividir la tarjeta en movil-->
              <div class="section-a">
                <!--Imagen de producto-->
                <div class="img-product"></div>
                <h3 style="font-weight: normal">
                  Whisky Jack Daniel's Honey 750ml
                </h3>
              </div>
               <!--Seccion para dividir la tarjeta en movil-->
              <div class="section-b">
                <!--boton para quitar-->
                <a class="button-1">Quitar</a>
                <div class="button-2"><a>-</a><a>1</a><a>+</a></div>
                <!--Precio de producto-->
                <h3>19.900</h3>
              </div>
            </div>

            <!--Tarjeta de producto-->
            <div class="card-product">
              <!--Seccion para dividir la tarjeta en movil-->
              <div class="section-a">
                <!--Imagen de producto-->
                <div class="img-product-2"></div>
                <h3 style="font-weight: normal">1 Combo de Hamburguesa</h3>
              </div>
              <!--Seccion para dividir la tarjeta en movil-->
              <div class="section-b">
                <!--boton para quitar-->
                <a class="button-1">Quitar</a>
                <div class="button-2"><a>-</a><a>1</a><a>+</a></div>
                <!--Precio de producto-->
                <h3>5.000</h3>
              </div>
            </div>

            <!--Tarjeta de producto-->
            <div class="card-product">
              <!--Seccion para dividir la tarjeta en movil-->
              <div class="section-a">
                <!--Imagen de producto-->
                <div class="img-product-3"></div>
                <h3 style="font-weight: normal">
                  Coca Cola Lata 220mL Pack Original x8
                </h3>
              </div>

              <!--Seccion para dividir la tarjeta en movil-->
              <div class="section-b">
                <!--boton para quitar-->
                <a class="button-1">Quitar</a>
                <div class="button-2"><a>-</a><a>2</a><a>+</a></div>
                <!--Precio de producto-->
                <h3>1.520</h3>
              </div>
            </div>

            <!--Precio de productos-->
            <div class="product-price">
              <div class="card-price">
                <!--Precio total-->
                <h2>Total de Puntos 26.420</h2>
              </div>
              <div class="card-price">
                <!--Boton para ir a pagar-->
                <a class="button-3">Ir a Pagar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>