
<%- include('../partials/header') %>
    <main>
    
        <div class="green-background"></div>
        <!--Contenedor de Categorias-->
      <nav class="container-categorias">
      <div class="box-categorias">
      <ul>
        <!--Caja del item-->
        <div class="box-item">
          <!--Icono de Electronica-->
          <i class="fa-solid fa-tablet"></i>
          
      <li>Electronica</li>
      </div>
      <hr></hr>
      <div class="box-item">
        <!--Icono de Alimentos-->
        <i class="fa-solid fa-burger"></i>
      
      <li>Alimentos</li>
      </div>
      <hr></hr>
      <div class="box-item">
        <!--Icono de Bebidas-->
        <i class="fa-solid fa-martini-glass-empty"></i>
        
      <li>Bebidas</li>
      </div>
      <!--Linea Divisora-->
      <hr></hr>
      <div class="box-item">
        <!--Icono de Indumentaria-->
        <i class="fa-solid fa-shirt"></i>
        
      <li>Indumentaria</li>
      </div>
      <!--Linea Divisora-->
      <hr></hr>
      <div class="box-item">
        <!--Icono de Juegos-->
        <i class="fa-solid fa-gamepad"></i>
        
      <li>Juegos</li>
      </div>
      <!--Linea Divisora-->
      <hr></hr>
      <div class="box-item">
        <!--Icono de Automotor-->
        <i class="fa-solid fa-car"></i>
      
      <li>Automotor</li>
      </div>
      <!--Linea Divisora-->
      <hr></hr>
      <div class="box-item">
        <!--Icono de Hogar-->
        <i class="fa-solid fa-couch"></i>
        
      <li>Hogar</li>
      </div>
      <!--Linea Divisora-->
      <hr></hr>
      <div class="box-item">
        <!--Icono de Otros-->
        <i class="fa-solid fa-tag"></i>
        
      <li>Otros</li>
      </div>
      </ul>
      </div>
      </nav>
      
      <!--Contenedor de promo-->
      <div class="container-promo">
        <!--Caja de promo-->
        <div class="box-promo">
          <!--Promo 1-->
          <div
            class="ProductHero">
          <!--Detalle de la promo-->
          <div class="promo-detalle">
            <!--Imagen de servicio-->
            <img
              class="servicio"
              src="https://play-lh.googleusercontent.com/_QCSCcFxvczdHctbqn5QHbbxJefgAZKwD_Um_eQJ8yCX-1NopcGubuGGszd23Bfn3Q"
              height="100px"
              ;
              width="100px"
              ;
            />
            <!--Detalle del Servicio-->
            <a class="servicio-detalle">
              50% De Descuento HBO MAX
              <span style="font-weight: normal">
                Canjeando 50.000 puntos MiEcommerce.
              </span>
            </a>
          </div>
        </div>
        </div>
          <!--Caja de promo-->
        <div class="box-promo">
            <!--Promo 2-->
          <div
            class="ProductHero2">
              <!--Detalle de la promo-->
          <div class="promo-detalle">
             <!--Imagen de servicio-->
            <img
              class="servicio"
              src="https://yt3.googleusercontent.com/WQoeMGybmxKE2QDvLXRuI4Ah64NPRjRMFnIrHCdV2JTaHhlJb3tVQr9S7zT_0ovXCBQ03XPMEQ=s900-c-k-c0x00ffffff-no-rj"
              height="100px"
              ;
              width="100px"
              ;
            />
             <!--Detalle del Servicio-->
            <a class="servicio-detalle">
              50% De Descuento DISNEY +
              <span style="font-weight: normal">
                Canjeando 50.000 puntos MiEcommerce.
              </span>
            </a>
          </div>
        </div>
      </div>
      </div>

      <div class="section-products">
      <div class="container-products">
        <h2 class="product-title">Te puede interesar</h2>
        <!--Cuadricula de productos-->
        <div class="grid-products">
<!--Link a pagina del producto-->
          <a href="/product">
          <!--Tarjeta del producto-->
            <div class="card-product">
            <!--Imagen del producto-->
              <div class="img-product">
              </div>
              <!--Tarjeta del titulo-->
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>Whisky Jack</h3>
                 <h3>Daniel's Honey</h3>
                 <h3>750ml</h3>
                 </div>
                 <hr></hr>
                 <h3>19.900 <span class="points" style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>
            </a>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>
            
         
         </div>
      </div>
    </div>
     
      <div class="section-products">
        <div class="container-products">
          <h2 class="product-title">Los Mas Pedidos</h2>
          <div class="grid-products2">
  
            <a href="/product-2">
            <div class="card-product-y">
              <div class="img-product-2">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>Coca Cola Lata</h3>
                 <h3>220mL Pack</h3>
                 <h3>Original x8</h3>
                 </div>
                 <hr></hr>
                 <h3>760 <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>
            </a>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"tyle="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>

            <div class="card-product">
              <div class="img-product-x">
              </div>
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>NOMBRE DEL</h3>
                 <h3>PRODUCTO</h3>
                 <h3>O SERVICIO</h3>
                 </div>
                 <hr></hr>
                 <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>
           
           </div>
        </div>
      </div>

       <!--Contenedor de Categorias-->
       <nav class="container-categorias">
        <div class="box-categorias">
        <ul>
          <!--Caja del item-->
          <div class="box-item">
            <!--Icono de Electronica-->
            <i class="fa-solid fa-tablet"></i>
            
        <li>Electronica</li>
        </div>
        <hr></hr>
        <div class="box-item">
          <!--Icono de Alimentos-->
          <i class="fa-solid fa-burger"></i>
        
        <li>Alimentos</li>
        </div>
        <hr></hr>
        <div class="box-item">
          <!--Icono de Bebidas-->
          <i class="fa-solid fa-martini-glass-empty"></i>
          
        <li>Bebidas</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Indumentaria-->
          <i class="fa-solid fa-shirt"></i>
          
        <li>Indumentaria</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Juegos-->
          <i class="fa-solid fa-gamepad"></i>
          
        <li>Juegos</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Automotor-->
          <i class="fa-solid fa-car"></i>
        
        <li>Automotor</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Hogar-->
          <i class="fa-solid fa-couch"></i>
          
        <li>Hogar</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Otros-->
          <i class="fa-solid fa-tag"></i>
          
        <li>Otros</li>
        </div>
        </ul>
        </div>
        </nav>
    </main>
<%- include('../partials/footer') %>