<%- include('../partials/header') %>
    <main>
    <link rel="stylesheet" href="/css/<%= style %>"/>
        <!--Hipervinculo hacia home-->
        <a class="back-to-home"href="/">
          <!--icono para volver-->
        <h3 class="product-title"><i class="bi bi-box-arrow-in-left"></i>Volver al listado <i class="bi bi-caret-right-fill"></i>Alimentos</h3>
        </a>
        <div class="section-products">
        <div class="main-card">
<!--Tarjeta de Contenedor-->
        <div class="card-container">
         <div class="img-container">
          <div class="img-product">
          </div>
         </div>
   <!--Contenedor de descripción-->
            <div class="description-container">
  <!--Nombre del producto-->
              <h2 style="margin: 0;">Coca Cola Lata 220ml Pack <br>
                Original x8</h2>
                <!--Puntos del producto-->
              <div class="product-points">
              <h2 style="font-size: 40px; margin: 0">760 </h2><p style="color: gray"> PUNTOS</p>
              </div>
              <!--Boton para ir al carrito-->
              <a style="width= 100%" id="button" href="/cart">Agregar al Carrito</a>
              <div class="description">
                <p>Una exquisita y refrescante bebida original de Coca-Cola, servida en su versión compacta de 220ml, ideal para disfrutar en cualquier momento del día. Esta presentación mantiene intacto el sabor clásico que conquistó generaciones.</p>
                <p>Aroma: burbujeante y dulce, con notas de caramelo tostado, cítricos suaves y un toque sutil de vainilla.</p>
                <p>Boca: textura chispeante y ligera, sabor equilibrado entre dulzura y acidez, con un retrogusto limpio y adictivo.</p>
                <p>Acabado: breve pero satisfactorio, deja una sensación fresca y revitalizante.</p>
                <p>Perfecta para tomar bien fría, sola o acompañando tus comidas favoritas.</p>                
                <p>No incluye vaso. Imagen ilustrativa.

              </div>
            </div>
        </div>

    </div>
    </div>
      <div class="section-products">
      <div class="container-products">
        <h2 class="product-title">También te puede interesar</h2>
        <!--Cuadricula de productos-->
        <div class="grid-products2">
<!--Link a pagina del producto-->
          <a href="/product">
          <!--Tarjeta del producto-->
            <div class="card-product">
            <!--Imagen del producto-->
              <div class="img-product-2">
              </div>
              <!--Tarjeta del titulo-->
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>Whisky Jack</h3>
                 <h3>Daniel's Honey</h3>
                 <h3>750ml</h3>
                 </div>
                 <hr></hr>
                 <h3>19.900 <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>
            </a>

            <div class="card-product">
                <div class="img-product-x">
                </div>
                <div class="title-card">
                  <div class="title-card-flex">
                    <div class="title-product">
                   <h3>NOMBRE DEL</h3>
                   <h3>PRODUCTO</h3>
                   <h3>O SERVICIO</h3>
                   </div>
                   <hr></hr>
                   <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                    </div>
                </div>
              </div>

              <div class="card-product">
                <div class="img-product-x">
                </div>
                <div class="title-card">
                  <div class="title-card-flex">
                    <div class="title-product">
                   <h3>NOMBRE DEL</h3>
                   <h3>PRODUCTO</h3>
                   <h3>O SERVICIO</h3>
                   </div>
                   <hr></hr>
                   <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                    </div>
                </div>
              </div>

              <div class="card-product">
                <div class="img-product-x">
                </div>
                <div class="title-card">
                  <div class="title-card-flex">
                    <div class="title-product">
                   <h3>NOMBRE DEL</h3>
                   <h3>PRODUCTO</h3>
                   <h3>O SERVICIO</h3>
                   </div>
                   <hr></hr>
                   <h3>XX.XXX <span class="points"style="color: gray; font-size: 75%">Puntos</span></h3>
                    </div>
                </div>
              </div>
           
           </div>
        </div>
      </div>

       <!--Contenedor de Categorias-->
       <nav class="container-categorias">
        <div class="box-categorias">
        <ul>
          <!--Caja del item-->
          <div class="box-item">
            <!--Icono de Electronica-->
            <i class="fa-solid fa-tablet"></i>
            
        <li>Electronica</li>
        </div>
        <hr></hr>
        <div class="box-item">
          <!--Icono de Alimentos-->
          <i class="fa-solid fa-burger"></i>
        
        <li>Alimentos</li>
        </div>
        <hr></hr>
        <div class="box-item">
          <!--Icono de Bebidas-->
          <i class="fa-solid fa-martini-glass-empty"></i>
          
        <li>Bebidas</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Indumentaria-->
          <i class="fa-solid fa-shirt"></i>
          
        <li>Indumentaria</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Juegos-->
          <i class="fa-solid fa-gamepad"></i>
          
        <li>Juegos</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Automotor-->
          <i class="fa-solid fa-car"></i>
        
        <li>Automotor</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Hogar-->
          <i class="fa-solid fa-couch"></i>
          
        <li>Hogar</li>
        </div>
        <!--Linea Divisora-->
        <hr></hr>
        <div class="box-item">
          <!--Icono de Otros-->
          <i class="fa-solid fa-tag"></i>
          
        <li>Otros</li>
        </div>
        </ul>
        </div>
        </nav>
    </main>
    <%- include('../partials/footer') %>